/* line 1, /Users/tchret/code/wudang/source/stylesheets/components/btn.scss */
.btn {
  display: inline-block;
  background: black;
  padding: 0 20px;
  line-height: 48px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  outline: 0; }
  /* line 11, /Users/tchret/code/wudang/source/stylesheets/components/btn.scss */
  .btn:focus {
    outline: 0; }
  @media (max-width: 800px) {
    /* line 1, /Users/tchret/code/wudang/source/stylesheets/components/btn.scss */
    .btn {
      font-size: 14px; } }
  /* line 19, /Users/tchret/code/wudang/source/stylesheets/components/btn.scss */
  .btn-active {
    background: #2ECC71;
    border: 1px solid #2ECC71;
    color: white; }
    /* line 24, /Users/tchret/code/wudang/source/stylesheets/components/btn.scss */
    .btn-active:hover {
      background: #40d47e;
      border-color: #40d47e; }
  /* line 30, /Users/tchret/code/wudang/source/stylesheets/components/btn.scss */
  .btn-white {
    background: white;
    font-weight: 400 !important;
    color: #16222A !important; }
    /* line 35, /Users/tchret/code/wudang/source/stylesheets/components/btn.scss */
    .btn-white:hover {
      color: white;
      background: white; }
