/* line 1, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
.logo {
  height: 30px;
  width: 30px;
  background: rgba(255, 255, 255, 0.28);
  border: 3px solid rgba(255, 255, 255, 0.39);
  border-radius: 50%;
  display: inline-block; }

/* line 10, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
.navbar {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 20px;
  display: table; }

/* line 20, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
.navbar-main {
  display: table-cell;
  width: 100%; }

/* line 25, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
.navbar-menu {
  vertical-align: middle;
  display: table-cell; }
  /* line 29, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
  .navbar-menu.navbar-menu-responsive {
    display: none; }
  @media (max-width: 600px) {
    /* line 25, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
    .navbar-menu {
      display: none; }
      /* line 35, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
      .navbar-menu.navbar-menu-responsive {
        display: table-cell; } }
  /* line 40, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
  .navbar-menu .btn {
    padding: 12px; }
  /* line 44, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
  .navbar-menu a {
    white-space: nowrap; }
  /* line 48, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
  .navbar-menu span {
    display: table-cell; }
    /* line 51, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
    .navbar-menu span .btn {
      border: 2px solid white; }
    /* line 55, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
    .navbar-menu span.is-active a {
      opacity: 1; }
      /* line 58, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
      .navbar-menu span.is-active a:after {
        content: '';
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #2ECC71;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0px 0px 0px 2px rgba(46, 204, 113, 0.36);
        bottom: -7px; }
  /* line 75, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: .9375rem;
    font-weight: 700;
    margin-left: 9px;
    position: relative;
    cursor: pointer;
    line-height: 1em;
    padding: 8px 7px 9px;
    position: relative;
    border-radius: 5px; }
    /* line 89, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
    .navbar-menu a:hover {
      opacity: 1; }

/* line 95, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
.navbar-menu-dropdown {
  background: black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-20px) scale(0.7);
          transform: translateY(-20px) scale(0.7);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 5px 15px;
  height: auto !important;
  right: 15px;
  width: 250px;
  top: 69px; }
  /* line 113, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
  .navbar-menu-dropdown a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 0;
    font-size: 18px;
    display: inline-block;
    width: 100%; }
    /* line 122, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
    .navbar-menu-dropdown a:hover {
      font-weight: 600; }
  /* line 127, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
  .navbar-menu-dropdown:after {
    content: '';
    top: -4px;
    right: 6px;
    left: 100px;
    height: 20px;
    width: 20px;
    position: absolute;
    background: black;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  /* line 139, /Users/tchret/code/wudang/source/stylesheets/components/navbar.scss */
  .navbar-menu-dropdown.is-active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    z-index: 9999;
    min-width: 150px; }
