/* line 2, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing table {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #e4e4e4; }
  /* line 8, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing table tbody tr:first-child {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase; }
  /* line 13, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing table h6 {
    text-align: center; }
  /* line 17, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing table td {
    vertical-align: middle; }

/* line 23, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-table {
  position: relative;
  margin-top: -125px;
  padding-bottom: 50px; }
  /* line 28, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-table:after {
    content: "";
    display: table;
    clear: both; }

/* line 35, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-column {
  float: left;
  width: 33%;
  border-right: 1px dashed #ececec; }
  /* line 39, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-column:last-child {
    border-right: none; }

/* line 44, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-columns {
  text-align: center;
  float: left;
  width: 86%;
  float: left;
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  /* line 53, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-columns:after {
    content: "";
    display: table;
    clear: both; }

/* line 61, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-line:after {
  content: "";
  display: table;
  clear: both; }
/* line 66, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-line div {
  float: left;
  width: 25%; }

/* line 72, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-column-header {
  min-height: 68px;
  padding: 30px;
  min-height: 70px; }

/* line 78, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-column-name {
  font-weight: bold;
  padding-bottom: 10px; }

/* line 83, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-column-description {
  opacity: .7; }

/* line 87, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-column-value {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

/* line 93, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
.pricing-column-duration {
  width: 14%;
  padding-top: 130px !important;
  float: left;
  min-width: 110px; }
  /* line 98, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-column-duration .pricing-column-value {
    border-bottom: 1px solid transparent;
    line-height: 60px;
    padding: 0;
    font-size: 13px;
    letter-spacing: 2px;
    color: #797979;
    text-align: right;
    padding-right: 20px; }

@media (max-width: 820px) {
  /* line 111, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-column-duration {
    display: none; }

  /* line 114, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-columns {
    width: 100%; }

  /* line 118, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-column {
    float: left;
    width: 100%;
    border: none; }
    /* line 123, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
    .pricing-column-header {
      padding-bottom: 0;
      padding-top: 50px; }

  /* line 129, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-column-duration-responsive {
    float: left;
    width: 50%;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1; }

  /* line 136, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-column-value {
    float: left;
    width: 50% !important; } }
@media (min-width: 820px) {
  /* line 143, /Users/tchret/code/wudang/source/stylesheets/components/pricing.scss */
  .pricing-column-duration-responsive {
    display: none; } }
