<table border="1" width="653" cellspacing="0" cellpadding="4">
<colgroup>
<col width="37*">
<col width="37*">
<col width="37*">
<col width="37*">
<col width="37*">
<col width="37*">
<col width="37*"> </colgroup>
<tbody>
<tr valign="TOP">
<td width="14%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">Kind of Room</span></strong></h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">1 Month</span></strong></h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">3 Months</span></strong></h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">6 Months</span></strong></h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">1 Year </span></strong></h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">2 Years</span></strong></h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">3 Years</span></strong></h6>
</td>
</tr>
<tr valign="TOP">
<td width="14%">
<h6 class="western" lang="en-US" align="LEFT">Single Room</h6>
</td>
<td width="14%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
<td width="14%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
<td width="14%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
<td width="14%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
<td width="14%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
<td width="14%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
</tr>
<tr valign="TOP">
<td width="14%">
<h6 class="western" align="LEFT">Single Cabin</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">7500 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">21 000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">40 000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">70 000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">120 000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">165 000 Rmb</h6>
</td>
</tr>
<tr valign="TOP">
<td width="14%">
<h6 class="western" align="LEFT">Dormitory</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">7000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">20 000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">39 000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">60 000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">110 000 Rmb</h6>
</td>
<td width="14%">
<h6 class="western" align="LEFT">155 000 Rmb</h6>
</td>
</tr>
</tbody>
</table>

