<table border="1" width="448" cellspacing="0" cellpadding="4">
<colgroup>
<col width="64*">
<col width="80*">
<col width="55*">
<col width="58*"> </colgroup>
<tbody>
<tr valign="TOP">
<td width="25%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">Kind of Room</span></strong></h6>
</td>
<td width="31%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">Less then 1 Week</span></strong></h6>
</td>
<td width="21%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">1 Week </span></strong></h6>
</td>
<td width="23%">
<h6 class="western" align="LEFT"><strong><span lang="en-US">2 Weeks</span></strong></h6>
</td>
</tr>
<tr valign="TOP">
<td width="25%">
<h6 class="western" lang="en-US" align="LEFT">Single Room</h6>
</td>
<td width="31%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
<td width="21%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
<td width="23%">
<h6 class="western" lang="en-US" align="LEFT">fully booked</h6>
</td>
</tr>
<tr valign="TOP">
<td width="25%">
<h6 class="western" lang="en-US" align="LEFT">Single Cabin</h6>
</td>
<td width="31%">
<h6 class="western" align="LEFT">500 Rmb / Day</h6>
</td>
<td width="21%">
<h6 class="western" align="LEFT">3500 Rmb</h6>
</td>
<td width="23%">
<h6 class="western" align="LEFT">5500 Rmb</h6>
</td>
</tr>
<tr valign="TOP">
<td width="25%">
<h6 class="western" lang="en-US" align="LEFT">Dormitory</h6>
</td>
<td width="31%">
<h6 class="western" align="LEFT">450 Rmb / Day</h6>
</td>
<td width="21%">
<h6 class="western" align="LEFT">3000 Rmb</h6>
</td>
<td width="23%">
<h6 class="western" align="LEFT">5000 Rmb</h6>
</td>
</tr>
</tbody>
</table>
