.container {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;

  &.no-padding {
    padding: 0;
  }

  &.padding-vertical {
    padding: 50px 20px;
  }

  &.is-large {
    max-width: 900px;
  }
}
