.map {
  height: 300px;

  &.is-full-size {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 9999;
  }

  &-container {
    height: 300px;
    position: relative;
  }

  &-address {
    max-width: 900px;
    margin: auto;
    width: 100%;
    display: table;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    font-family: Lato;
    background: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    @media (max-width: 900px) {
      margin: 0;
    }

    &-container {
      right: 0;
      z-index: 999;
      bottom: 0;
      left: 0;
      position: absolute;
      padding: 20px;
    }

    svg, span {
      display: table-cell;
      vertical-align: middle;
    }

    span {
      padding-left: 12px;

      @media(max-width: 800px) {
        padding-left: 20px;
      }
    }

    svg {
      margin-right: -8px;
    }
  }
}

.map-full-size {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 14px;
  opacity: .5;
  cursor: pointer;
  width: 81px;

  &.is-colored {
    color: #2ECC71;
    opacity: 1;
  }

  &:hover {
    opacity: .7;
  }
}
