.schedule {

  &-container {
    margin: auto;
    position: relative;
    max-width: 500px;
  }

  &-wrapper {
    padding: 50px 0;
    background: #16222A;

    &.is-padded {
      padding-bottom: 300px;
    }
  }

  &-title {
    text-align: center;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 50px;

    hr {
      border: none;
      width: 34px;
      margin: auto;
      background: white;
      height: 2px;
      margin-top: 25px;
      opacity: .2;
    }
  }
}

.schedule-item {
  display: table;
  width: 100%;
  color: white;
  &:last-child {
    .schedule-item-artifact {
      &:before {
        background: linear-gradient(rgba(255, 255, 255, 0.12), transparent);
      }
    }
  }

  & > div {
    display: table-cell;
  }

  &-hour {
    vertical-align: middle;
    width: 42px;
  }

  &-artifact {
    width: 10px;
    position: relative;
    padding: 0 20px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 6px;
      background: white;
      width: 6px;
      box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4), 0px 0px 0px 6px rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 2px;
      transform: translateY(50%);
      bottom: 0;
      right: 0;
      margin: auto;
      left: 0;
      background: rgba(255, 255, 255, 0.12);
    }
  }

  &-titles {
    background: rgba(white, .2);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-left: 5px solid rgba(0, 0, 0, 0.12);

    &.self-practice {
      border-left: 5px solid #00d0ff;
    }

    &.regular-training {
      border-left: 5px solid rgb(255, 200, 0);
    }

    &.optionnal {
      border-left: 5px solid #FAFAFA;
    }

    &-container {
      padding: 15px;
    }

    main {
      display: table-cell;
      width: 100%;
    }

    sidebar {
      display: table-cell;
      white-space: nowrap;
      opacity: .5;
    }
  }
}

.schedule-legend {
  display: table;
  width: 100%;
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 25px;

  &-item {
    display: table-cell;
    color: white;
    font-size: 15px;
    width: 33.33%;

    &-circle {
      background: #454e55;
      height: 12px;
      width: 14px;
      margin: auto;
      border-radius: 2px;
      border-left: 4px solid #00d0ff;
      margin-bottom: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }
}


