.skills {
  margin-top: -55px;
  position: relative;
  padding-bottom: 100px;
  text-align: center;

  @media (max-width: 800px) {
    display: block;
  }
}

.skill {
  border-radius: 50%;
  font-weight: bold;
  background: white;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  justify-content: center;
  font-size: 40px;

  span {
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-title {
    margin: 15px 0;
    font-size: 22px;
  }

  &-description {
    text-align: center;
    opacity: .7;
    display: inline-table;
    padding: 0 20px;
    font-size: 17px;
  }


  &-container {
    display: inline-block;
    max-width: 33%;
    text-align: center;

    @media (max-width: 800px) {
      max-width: 400px;
      margin: auto;
      margin-bottom: 50px;
    }

    &:last-child, &:nth-last-child(2){
      margin-top: 75px;

      @media (max-width: 800px) {
        margin-top: 0;
      }
    }
  }
}

.skill-gradient {
  padding: 4px;
  width: 100px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 50%;
}

@-moz-document url-prefix() {
  .skill {
    span {
      background: none !important;
      color: #d8d8d8 !important;
    }
  }

}
