<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="17px" height="23px" viewBox="0 0 17 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 2</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-Copy" transform="translate(-103.000000, -3032.000000)" fill="#3A7BD5">
            <g id="Page-1" transform="translate(102.000000, 3010.000000)">
                <g transform="translate(0.000000, 22.000000)" id="Fill-2">
                    <path d="M17.3235289,8.23427941 C17.3235289,3.91046606 13.8159791,0.396551177 9.49999943,0.396551177 C5.18401971,0.396551177 1.67646998,3.91046606 1.67646998,8.23427941 C1.67646998,14.1125756 9.49999943,22.6034478 9.49999943,22.6034478 C9.49999943,22.6034478 17.3235289,14.1125756 17.3235289,8.23427941 L17.3235289,8.23427941 Z M6.89215628,8.23427941 C6.89215628,6.79736268 8.06568518,5.62170333 9.49999943,5.62170333 C10.9343136,5.62170333 12.1078426,6.79736268 12.1078426,8.23427941 C12.1078426,9.67119674 10.9473519,10.8468555 9.49999943,10.8468555 C8.06568518,10.8468555 6.89215628,9.67119674 6.89215628,8.23427941 L6.89215628,8.23427941 Z"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
